header .navegador{
    padding-left:2rem;
    display: flex;
    background-color: green;
    height: 5rem;
    justify-content: space-between;
}

header nav ul{
    display: flex;
    align-items: center;
    justify-self: flex-start;
    margin: 1rem;
    gap: 2rem;
}

body{
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

h1{
    color: white;
    height: 1.5em;
    font-size: 3em;
    position: relative;
}

.botaos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

button{
    height: 6em;
    width: 10em;border: none; 
    color: white;
    background-color: grey;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
}

.timer{
    color: white;
    font-size: 5em;
    height: 1.5em;
}

